footer.footer(style="padding: 10px 0px;background: #467716!important;color:#fff;")
	.container
		.row
			.col-md-7
				img(src="img/asdasd.png" style="max-width:120px;")
			.col-md-5.text-right
				span.text-muted.text-right ООО "WATTSON" | ОГРН: 887643574839 | © 2018 


//- include forms.pug