meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")

style(type="text/css")
	include ../../css/bootstrap.min.css
	include ../../css/bootstrap-grid.min.css
	include ../../css/bootstrap-reboot.min.css

//- link(rel="stylesheet" href="css/bootstrap-reboot.min.css")
//- link(rel="stylesheet" href="css/bootstrap-grid.min.css")
//- link(rel="stylesheet" href="css/bootstrap-reboot.min.css")