ul.navbar-nav.ml-auto
	li.nav-item
		a.nav-link(href="http://wattson-electric.ru/") Что это?
	li.nav-item.active
		a.nav-link(href="http://wattson-electric.ru/map/") Карта заправок
	li.nav-item
		a.nav-link(href="http://wattson-electric.ru/contacts/") Контакты
	li.nav-item
		a.nav-link(href="http://wattson-electric.ru/accounts/login/") Вход