<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="utf-8")
    title Авторизация
    include inc/head.pug
    include inc/css.pug

  body
    #main
      nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
        .container
          a.logo(href='http://wattson-electric.ru/')
            img(src='img/logo.png', alt='')
         
          #navbarsExampleDefault.collapse.navbar-collapse.my-2.my-md-0.mr-md-3
           include inc/nav.pug
      .container.main
        h1 Авторизация
        form.form-signin(method='post')
          input(type='hidden', name='csrfmiddlewaretoken', value='xMSPUHsT2Psb0OU02LQUnnbULmtlAGet3w9pJFlDlpi9TNPBa0uIbegP6nyybTaz')
          .form-group
            | Имя пользователя
            input#id_username.form-control.form-control-lg(type='text', name='username', autofocus='', required='')
            small.text-muted
          .form-group
            | Пароль
            input#id_password.form-control.form-control-lg(type='password', name='password', required='')
            small.text-muted
          input.btn.btn-primary(type='submit', value='Войти')
          .text-center.mb-4
            ul.form-link
              li
                a(href='http://wattson-electric.ru/accounts/password_reset/') Забыли пароль?
              li
                a(href='http://wattson-electric.ru/accounts/register/') Регистрация
    footer.footer(style='padding: 10px 0px;background: #467716!important;color:#fff;')
      .container
        .row
          .col-md-7
            img(src='img/asdasd.png', style='max-width:120px;')
          .col-md-5.text-right
            span.text-muted.text-right ООО "WATTSON" | ОГРН: 887643574839 | © 2018 

