<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Авторизация
		include inc/head.pug
		include inc/css.pug

	body.inner
		#main
			include inc/header.pug
			.page-wr
				.auth
					.container
						h1 Авторизация
						form.form-signin(method='post')
							input(type='hidden', name='csrfmiddlewaretoken', value='xMSPUHsT2Psb0OU02LQUnnbULmtlAGet3w9pJFlDlpi9TNPBa0uIbegP6nyybTaz')
							.form-group
								| Имя пользователя
								input#id_username.form-control.form-control-lg(type='text', name='username', autofocus='', required='')
								small.text-muted
							.form-group
								| Пароль
								input#id_password.form-control.form-control-lg(type='password', name='password', required='')
								small.text-muted
							input.btn.btn-primary(type='submit', value='Войти')
							.text-center.mb-4
								ul.form-link
									li
										a(href='http://wattson-electric.ru/accounts/password_reset/') Забыли пароль?
									li
										a(href='http://wattson-electric.ru/accounts/register/') Регистрация
		include inc/footer.pug

