<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Формы
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		main#content
			.content
				.inner-content
					.inner-content__content
						.wrapper
							.btns
								a.default-btn.fancybox(href="#service") Заявка на услугу
								a.default-btn.fancybox(href="#call") Заказать звонок
								a.default-btn.fancybox(href="#quality") Служба качества
		include inc/footer.pug
		include inc/scripts.pug