<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.pug
		include inc/css.pug
	body.main
		.mobile-menu
		#main
			include inc/header.pug
			.page-wr
				.first-screen
					.main-banner
						img(src="img/main-bg.jpg", alt="")
						.container
							.main-banner__info
								div
									h1 Сервис для электромобилей
									p.lead.font-weight-normal Вы гоняете на электрокаре, но найти свободную заправку для вас адовый геморрой? Тогда наш сервис предназначен для вас!<br> Скачивайте наше приложение во всех app-сторах страны.
							.main-banner__img
								img(src="img/main-phone.png", alt="")

				.container-fluid.second-screen-cont
					.container
						.row.second-screen
							.col-md-5.second-screen-img
								img(src="./img/wtson-big2.png")
							.col-md-6.text-center
								p Скачав приложение, вы получаете доступ к более 100 зарядным станциям, расположенным по всей Москве.
								h4 Что нужно сделать:
								.row
									.col-md-4.align-items-center.mx-auto
										img(src="img/icon-1.png")
										h6 Найдите и забронируйте ближайшую заправку
									.col-md-4.align-items-center.mx-auto
										img(src="img/icon-2.png")
										h6 Оплатите зарядку и зарядите ваш автомобиль
									.col-md-4.align-items-center.mx-auto
										img(src="img/icon-3.png")
										h6 Выпейте вкусного кофе
				.container
					ul.timeline
						li.timeline-inverted
							.timeline-badge
								img(src="img/icon-1.png" style="width: 100%;max-width: 9rem;padding: 1.5rem;")
							.timeline-panel
								.timeline-heading
									h4.timeline-title ДЛЯ ВЛАДЕЛЬЦЕВ ЭЛЕКТРОКАРОВ
								.timeline-body
									p
										| Мы думаем, что все владельцы электрокаров сталкивались с проблемой поиска свобоных зарядных станций.
										| Вспомните, как вы икали место, чтобы подзарядиться и метались от отной зарядки к другой... Теперь это в прошлом!
										| Наш сервис позволит вам выбрать ближайшую зарядную станцию, забронировать ее, комфортно зарядить автомобиль и оплатить зарядку.
										| Все что для этого нужно - ваш смартфон!
						li.timeline-inverted
							.timeline-badge.warning
								img(src="img/icon-3.png" style="width: 100%;max-width: 9rem;padding: 1.5rem;")
							.timeline-panel
								.timeline-heading
									h4.timeline-title ДЛЯ БИЗНЕСА
								.timeline-body
									p
										| Вы хотите привлечь новых клиентов, но все основные способы уже испробованы? Мы знаем, как это сделать!
										| Установите одну из наших зарядных станций на территории вашего отеля, офиса, кафе или другого бизнеса и получите новую
										| платежеспособную аудиторию! Все что вам нужно - это связаться с нам, а всю работу по установке, подключению и обслуживанию
										| зарядки мы возьмем на себя.
				.container-fluid.text-center(style="background-color: #61b40e; color:#fff;padding:0;padding-top: 8%;")
					h2.text-center КАК ЭТО РАБОТАЕТ
					.container-fluid(style="background-image: url(/static/images/%D1%81%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D0%B8-1-%D1%84%D0%BE%D0%BD.png);padding:0;margin:0;background-position-y: 74%;overflow:hidden;")
						.container
							img(src="img/станции-1.png" width="100%")
				.container-fluid.text-center.form-bot-cont
					.container
						.form-bot
							h2.text-center Cвяжитесь с нами
							form(action="http://wattson-electric.ru/form-send/" method="post")
								.row
									input(type="hidden" name="csrfmiddlewaretoken" value="uU3h9PLmdQOdLTTk90OQ4zsgfdIHNKhm0EkRYNE6wqEbESOVhfsESqxbAeNUoXds")
									.col
										input#id_name.form-control(type="text" name="name" placeholder="Имя" required="")
									.col
										input#id_email.form-control(type="email" name="email" placeholder="Email" required="")
									.col
										input#id_message.form-control(type="text" name="message" placeholder="Текст сообщения" required="")
									.col
										button.btn(type="submit" style="background-color:#1e3c00;color:#fff;") Отправить

		include inc/footer.pug
		include inc/scripts.pug
		
